
html,body{overflow:hidden;overflow-y:auto;}
img{
    width: 100%
}
.case,.sowingParent{
    /* overflow: hidden; */
    overflow-x:auto;
}
.sowingAll{
    height: 110%;
    /* overflow-x: auto;  */
    white-space: nowrap;  
}
.sowing{
    float: left;
    white-space: nowrap;  
}