/*声明rem的大小*/
/*header*/
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.comImg {
  width: 100%;
}
.sowingParent {
  position: relative;
  height: 5.3rem;
}
.sowingAll {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110% !important;
  overflow-x: auto;
  white-space: nowrap;
}
.sowing {
  display: inline-block;
  float: left;
  white-space: nowrap;
}
.ipt {
  position: relative;
  height: 24rem;
  background-image: url(../img/ipt.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.5rem 0 0 0.5rem;
}
.iptLi {
  height: 2rem;
  width: 100%;
  overflow: hidden;
}
.iptFrom .iptLi strong,
span {
  font-size: 0.6rem;
  font-weight: bold;
  float: left;
  overflow: hidden;
}
.iptFrom .iptLi strong {
  display: inline-block;
  padding-top: 0.25rem;
}
.fontName {
  width: 25%;
  text-align: right;
  color: rgba(55, 55, 55, 0.7);
}
.name {
  display: block;
  border-radius: 0.25rem;
  background-color: rgba(230, 230, 230, 0.7);
  font-size: 0.65rem;
  width: 8rem;
  height: 1.25rem;
  border: 0;
  outline: none;
}
.must {
  color: red;
}
.iptLi3 {
  height: 5.75rem;
}
.content {
  height: 5rem;
  resize: none;
  border: none;
}
.btn {
  display: block;
  width: 80%;
  padding-left: 1rem;
  padding-top: 0.6rem;
}
i {
  color: red;
}
.baoming {
  display: inline-block;
  position: fixed;
  top: 17rem;
  left: 10rem;
  width: 6rem;
  height: 4rem;
  z-index: 9999;
}
.baomingImg {
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.case {
  position: relative;
}
.case2{
  display: none;
  margin:-0.28rem 0.38rem 0 0.38rem;
}
#caseImg {
  position: absolute;
  left: -6rem;
  height: 100%;
  width: 28rem;
}
#caseImg img {
  height: 100%;
  width: 100%;
}
.enlist {
  display: none;
}
.bgColor {
  background-color: #fadcb8;
}
.endImg {
  position: relative;
}
.banYuan {
  position: absolute;
  left: 0;
  right: 0;
  top: -0.3rem;
  margin: auto;
}
.btn {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  margin: 0 17%;
}
.solidColor{
  position: absolute;
  width: 95%;
  height: .5rem;
  background-color:rgb(255, 182, 25);
  /* padding: 0 .4rem; */
  /* text-align: center; */
  /* bottom: 0 */
  /* margin-left:;
  margin-top:-0.3rem;  */
  left: 50%;
  transform: translate(-50%, -50%);
} 
.anliImg{
  width: 33.333%;
  display: inline-block;
  height: 100%;
}
.anliImgChild{
  width: 100%
}
.caseUl{
  position: absolute;
  height: 64%;
  width: 95%;
  /* margin:0 auto; */
  top:63%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anliFont{
height: 44%;
margin-top: -0.28rem;
background-color:rgb(241,241,241);
padding-top: .6rem; 
}
.aliSpan{
  width: 100%;
  display: block;
  font-size: .46rem;
  font-weight: initial;
  text-align: center;
  font-family: "微软雅黑",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn2{
  width: 50%;
  clear: both; 
  display: block; 
  margin:auto;
}
.aliSpan2{
  margin-bottom: .7rem;
}
.sanjiao{
  position: absolute;
  left: 1.2rem;
  top:-0.05rem;
}
.sanjiao2{
  position: absolute;
  left: 5.8rem;
  bottom:.5rem;
}
.sanjiaoImg{
  display: block
  clear: both; 
  display: block; 
  margin:auto;
}
.sanjiaoFont{
  color:rgb(255,183,21);
  text-decoration: underline;
  font-weight: normal;
  font-size: 0.5rem;
  text-align: center;
}
.content2sanjiao{
  position: absolute;
  left: 6rem;
  top:-0.05rem;
}
.content3sanjiao{
  position: absolute;
  right: 1.25rem;
  top:-0.05rem;
}
.name{
  color: black;
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/*.str_origin{
	width:100%;
}*/
